.card {
    border-radius: 4px;
    background: #FFF;
    border: none !important;   
}
.card.shadow{
      /* Card Shadow */
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.08);
}
.css-4jnixx-MuiStack-root>.MuiTextField-root {
    min-width: 100% !important;
}
.MuiStack-root {
    background-color: #FFF !important;
}
.card.holidays{
    background-color: #EFEFEF;
    padding: 16px;
}
.Holidays-title{
    color: #181D26;
    font-size: 24px;
    font-weight: 500;
}