.pagination-container {
    padding: 16px;
    border: 1px solid #E1E2F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;

}
p {
color: #000;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
}