.teacher {
    background-color: #EFEFEF;
}

.teacher img {
    border-radius: 50%;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #EFEFEF;
}

.add i {
    color: #1246AC !important;
}

.upload {
    cursor: pointer;
}

.uploadBtn {
    background-color: #1246AC !important;
    color: #fff;
}
