.row th {
    padding: 15px 0px !important;
}

.row td {
    padding: 12px 0px !important;
}
.row input {
    padding: 12px 0px !important;
    color: #48DA8B !important;
    background-color: #48DA8B !important;
}

.tabl th {
    font-size: 17px;
    padding: 12px 0px !important;
}